.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  z-index: 1050;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 20px;
  color: #fff;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    z-index: 1050;
  }

  .navbar-brand {
    justify-content: space-between;
    width: 100%;
  }
}
